<h1>Books</h1>
<table class = "tables">
  <thead class = "main-c">
    <th>本のタイトル</th>
    <th>感想</th>
    </thead>
</table>

<% @books.each do |book| %>
  <span>
  <div class = "main-item">
    <%= book.title %>
    <%= book.body %>
    <%= link_to "Show", book_path(book.id), style: "color:black" %>
    <%= link_to "Edit", edit_book_path(book.id), style: "color:black" %>
    <%= link_to "Destroy", destroy_book_path(book.id), style: "color:black", method: :delete, "data-confirm" => "Are you sure?" %>
  </div>
  </span>
<% end %>
  
<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved.
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book,url: '/books',method: :post do |f| %>

<h2>New Book</h2>
  <h4>本のタイトル</h4>
  <p class = "form" ><%= f.text_field :title %></p>

  <h4>感想</h4>
  <p class = "form" ><%= f.text_area :body, style: "height: 40px;" %></p>

  <p class = "form"><%= f.submit 'Create Book' %></p>
<% end %>